node_modules

.next
.idea
.DS_Store

.content
.env

*.tsbuildinfo
*.log

public/robots.txt
public/service.worker.js
public/sitemap.xml
public/workbox-*.js

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
